@model MatrizHabilidade.ViewModel.TabelaViewModel

@{
    ViewBag.Title = "Matriz de Habilidade - " + Model.AreaDescricao;
    int selectedYear = Util.Cookie.Get().Ano;
}

@section buttons{

    <a href="/MatrizHabilidade/Planta?planta=@Model.PlantaId" title="Home">
        <img src="~/Content/images/icons/Icones-01.png" />
    </a>

    <a href="/MatrizHabilidade/Maquina?planta=@Model.PlantaId&area=@Model.AreaId&maquina=@Model.MaquinaId" title="Maquina - @Model.MaquinaDescricao">
        <img src="~/Content/images/icons/Icones-03.png" />
    </a>

    <a href="#" onclick="showModal('ModalFiltro')" title="Filtro">
        <img src="~/Content/images/icons/Icones-04.png" />
    </a>

    <a href="#" onclick="tableToExcel('TabelaMatriz')" title="Excel">
        <img src="~/Content/images/Excel.png" />
    </a>
}

@section css{
    <link href="~/Content/autocomplete/autocomplete.css" rel="stylesheet" />

    <style>

        #TabelaContainer > div {
            width: calc(33.6vw + 0.5vw + @Model.TiposTreinamento.SelectMany(t => t.Treinamentos).Count() * 5vw + @Model.Especifico.Count * 7.5vw);
        }

    </style>
}

@section js{
    <script src="~/Content/autocomplete/autocomplete.v1.js"></script>
    <script src="~/Content/autocomplete/autocomplete.init.js"></script>
    <script src="~/Content/autocomplete/autocomplete.add-on.js"></script>

    <script src="~/Content/js/tableToExcel.js"></script>

    <script src="~/Content/js/table-export/blob.min.js"></script>
    <script src="~/Content/js/table-export/xlsx.js"></script>
    <script src="~/Content/js/table-export/filesaver.min.js"></script>
    <script src="~/Content/js/table-export/tableexport.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script src="~/Content/js/main.v6.js"></script>
}

<div class="title flex-row">
    <div class="flex-row">
        <h3>@Model.PlantaDescricao</h3>
        <h3 class="arrow">&#8250;</h3>
        <h3>@Model.AreaDescricao</h3>
        <h3 class="arrow">&#8250;</h3>
        <h3>@Model.MaquinaDescricao</h3>
    </div>
</div>

<div class="main">

    <div id="Year" class="flex-row">
        <form action="/MatrizHabilidade/Home/ChangeYear" method="get">

            <input type="hidden" name="returnurl" value="@Request.Url.PathAndQuery" />

            <label>Fiscal Year</label>
            <div class="styled-select">
                <select onchange="this.form.submit()" name="ano">
                    @foreach (var ano in ViewBag.Anos)
                    {
                        <option value="@ano" @(selectedYear == ano ? "selected" : "")>@ano.ToString().Substring(2)</option>
                    }
                </select>
            </div>
        </form>
    </div>

    <div id="TabelaContainer" class="flex-column canvas perfect-scroll disable-y">
        <div class="flex-row">
            <div class="flex-column">
                <div class="flex-column legenda">
                    <div class="flex-column">
                        <div>
                            @Model.MaquinaDescricao
                        </div>
                        <div class="flex-column flex-center">
                            <p>LEGENDA:</p>
                            <p>1 = Nenhum conhecimento</p>
                            <p>2 = Possui conhecimento teórico, mas precisa de ajuda para aplicá-los na sua rotina</p>
                            <p>3 = Domina plenamente e de maneira consistente as atividades práticas de sua rotina</p>
                            <p>4 = Domina plenamente e consegue ensinar a teoria e a prática e atuar como suporte à outros profissionais</p>
                            <p>NA = Não se aplica a atividade</p>
                        </div>
                        <div>
                            <div>
                                <span>Pilar E&T</span>
                            </div>
                            <div>
                                <img src="~/Content/images/Logo sistema2.svg" />
                            </div>
                        </div>
                    </div>
                    <div>
                        GAP GERAL DE CONHECIMENTO: @Model.GAPGeralConhecimento%
                    </div>
                    <div>
                        GAP GERAL DE PROFISSIONAIS A SEREM TREINADOS: @Model.GAPGeralProfissionais%
                    </div>
                    <div class="flex-row">
                        <div class="flex-center">Chapa</div>
                        <div class="flex-center">Nome</div>
                        <div class="flex-center">Função</div>
                        <div class="flex-center">Instrutor<br />Interno</div>
                    </div>
                </div>
            </div>
            <div class="flex-row">

                @foreach (var tipo in Model.TiposTreinamento)
                {
                    <div class="flex-column treinamento-container">
                        <div class="title" style="background-color: @tipo.CorTitulo">@tipo.Descricao</div>
                        <div class="flex-row" style="background-color: @tipo.CorTreinamento">
                            @foreach (var treinamento in tipo.Treinamentos)
                            {
                                <div class="vertical-text flex-center" style="color: @tipo.CorFonte"><span>@treinamento.Descricao</span></div>
                            }
                        </div>
                        <div class="title" style="background-color: @tipo.CorTitulo">Nível Desejado 2</div>
                        <div class="flex-row">
                            @foreach (var treinamento in tipo.Treinamentos)
                            {
                                <div class="flex-center">Nota</div>
                                <div class="flex-center">Status <br> Trein.</div>
                            }
                        </div>
                    </div>
                }

                <div class="flex-column treinamento-container especifico">
                    <div class="title">ESPECÍFICO</div>
                    <div class="flex-row">
                        @foreach (var treinamento in Model.Especifico)
                        {
                            <div class="vertical-text flex-center"><span>@treinamento.Descricao</span></div>
                        }
                    </div>
                    <div class="title"></div>
                    <div class="flex-row">
                        @foreach (var treinamento in Model.Especifico)
                        {
                            <div class="flex-center">Nota</div>
                            <div class="flex-center">Meta</div>
                            <div class="flex-center">Status <br> Trein.</div>
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="perfect-scroll disable-x">
            <div class="flex-column user-container">
                @foreach (var colaborador in Model.Colaboradores)
                {
                    <div class="flex-row">
                        <div>@colaborador.Chapa</div>
                        <div>@colaborador.Nome</div>
                        <div>@colaborador.Funcao</div>
                        <div>@(colaborador.IsFacilitador ? "★" : "")</div>

                        @foreach (var nota in colaborador.Notas)
                        {
                            if (nota == null)
                            {
                                <div></div>
                            }
                            else
                            {
                                <div class="@nota.Class">@nota.Value</div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>

</div>

<div id="ModalFiltro" class="modal">
    <div class="background"></div>
    <div class="content">
        <form action="/MatrizHabilidade/Home/Tabela" method="get">

            <input type="hidden" name="Planta" value="@Model.PlantaId" />
            <input type="hidden" name="Area" value="@Model.AreaId" />
            <input type="hidden" name="Maquina" value="@Model.MaquinaId" />

            <div class="filtro-container flex-column">

                <div class="flex-row filtro-title">
                    <h3>Filtro</h3>
                </div>
                <div class="filtro-content">

                    <div class="flex-row">
                        <div>

                            <div class="input">
                                <div class="input flex-column">
                                    <label>Profissionais</label>

                                    <div id="AutocompleteColaboradores" data-url="/MatrizHabilidade/Home/GetColaborador" data-maquina="@Model.MaquinaId" onplay="onAutocompleteSelected('EditarColaborador', 'EditarColaboradorList')" class="autocomplete">
                                        <input type="hidden" />
                                        <input autocomplete="off" id="EditarColaborador" data-name="Colaboradores" type="text" />
                                    </div>
                                </div>

                                <div id="EditarColaboradorList" class="selected-items">
                                    <label>Profissionais Selecionados</label>
                                    <div>
                                        <ul class="content perfect-scroll">
                                            @foreach (var colaborador in Model.FiltroColaboradores)
                                            {
                                                <li title="@colaborador.Value" onclick="onAutocompleteRemoved(this)">
                                                    <input type="hidden" name="Colaboradores" value="@colaborador.Key" />
                                                    <span>@colaborador.Value</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>
                            <div class="input">
                                <label>Tipo de Treinamento</label>
                                <div class="custom-select">
                                    <select onchange="getTreinamentos(this)" data-maquina="@Model.MaquinaId" name="Tipo">
                                        <option @(Model.FiltroTipo == -1 ? "selected" : "") value="-1">Todos</option>
                                        <option @(Model.FiltroTipo == 0 ? "selected" : "") value="0">Qualidade</option>
                                        <option @(Model.FiltroTipo == 1 ? "selected" : "") value="1">Excelência</option>
                                        <option @(Model.FiltroTipo == 2 ? "selected" : "") value="2">Específico</option>
                                    </select>
                                </div>
                            </div>

                            <div class="input">
                                <label>Treinamento</label>
                                <div class="custom-select">
                                    <select id="FiltroTreinamento" name="Treinamento">
                                        @if (Model.FiltroTreinamento != null)
                                        {
                                            <option selected value="@Model.FiltroTreinamento.Item1">@Model.FiltroTreinamento.Item2</option>

                                            foreach (var treinamento in Model.TreinamentosFiltrados)
                                            {
                                                <option value="@treinamento.Key">@treinamento.Value</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="" style="display: none">Selecione</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="input">
                                <label>Nota</label>
                                <div class="custom-select">
                                    <select name="FiltroNota">
                                        <option @(Model.FiltroNota == -1 ? "selected" : "") value="-1">Todas</option>
                                        <option @(Model.FiltroNota == 0 ? "selected" : "") value="0">Vazio</option>
                                        <option @(Model.FiltroNota == 1 ? "selected" : "") value="1">1</option>
                                        <option @(Model.FiltroNota == 2 ? "selected" : "") value="2">2</option>
                                        <option @(Model.FiltroNota == 3 ? "selected" : "") value="3">3</option>
                                        <option @(Model.FiltroNota == 4 ? "selected" : "") value="4">4</option>
                                        <option @(Model.FiltroNota == 4 ? "selected" : "") value="-2">NA</option>
                                    </select>
                                </div>
                            </div>

                            <div class="input">
                                <label>Meta</label>
                                <div class="custom-select">
                                    <select name="FiltroMeta">
                                        <option @(Model.FiltroMeta == -1 ? "selected" : "") value="-1">Todas</option>
                                        <option @(Model.FiltroMeta == 0 ? "selected" : "") value="0">Vazio</option>
                                        <option @(Model.FiltroMeta == 1 ? "selected" : "") value="1">1</option>
                                        <option @(Model.FiltroMeta == 2 ? "selected" : "") value="2">2</option>
                                        <option @(Model.FiltroMeta == 3 ? "selected" : "") value="3">3</option>
                                        <option @(Model.FiltroMeta == 4 ? "selected" : "") value="4">4</option>
                                        <option @(Model.FiltroMeta == 4 ? "selected" : "") value="-2">NA</option>
                                    </select>
                                </div>
                            </div>

                            <div class="input">
                                <label>Status Trein.</label>
                                <div class="custom-select">
                                    <select name="FiltroStatus">
                                        <option @(Model.FiltroStatus == -1 ? "selected" : "") value="-1">Todos</option>
                                        <option @(Model.FiltroStatus == 0 ? "selected" : "") value="0">OK</option>
                                        <option @(Model.FiltroStatus == 1 ? "selected" : "") value="1">NOK</option>
                                        <option @(Model.FiltroStatus == 2 ? "selected" : "") value="-2">NA</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="flex-row">
                    <button class="btn cinza clickable" type="submit">Filtrar</button>
                    <button class="btn cinza clickable" type="button" onclick="limparTabelaMatriz()">Limpar</button>
                </div>

            </div>

        </form>
        <div class="close">x</div>
    </div>
</div>

<table id="TabelaMatriz" class="hidden" data-cols-width="30,30,30">
    <thead>
        <tr>
            <th data-a-v="middle" data-f-sz="18" data-a-h="center" data-underline="true" data-fill-color="c1d72e" data-b-a-s="thin" data-b-a-c="666666" data-a-wrap="true" colspan="4" rowspan="1" class="left legenda">
                @Model.MaquinaDescricao
            </th>

            @foreach (var tipo in Model.TiposTreinamento)
            {
                if (tipo.Treinamentos.Count > 0)
                {
                    <th colspan="@(tipo.Treinamentos.Count * 2)" data-fill-color="@tipo.CorTitulo.Replace("#", "")" data-b-a-c="666666" data-b-a-s="thin" data-f-color="ffffff" data-a-h="center" class="header">@tipo.Descricao</th>
                }
            }

            @if (Model.Especifico.Count > 0)
            {
                <th colspan="@(Model.Especifico.Count * 3)" data-fill-color="60bc23" data-b-a-c="666666" data-b-a-s="thin" data-f-color="ffffff" data-a-h="center" class="especifico header">ESPECÍFICO</th>
            }
        </tr>
        <tr data-height="200">
            <th data-a-v="middle" data-a-h="left" data-fill-color="c1d72e" data-b-a-s="thin" data-b-a-c="666666" data-a-wrap="true" colspan="4" rowspan="1" class="left legenda">
                LEGENDA: <br />
                1 = Nenhum conhecimento <br />
                2 = Possui conhecimento teórico, mas precisa de ajuda para aplicá-los na sua rotina <br />
                3 = Domina plenamente e de maneira consistente as atividades práticas de sua rotina <br />
                4 = Domina plenamente e consegue ensinar a teoria e a prática e atuar como suporte à outros profissionais <br />
                NA = Não se aplica a atividade
            </th>

            @foreach (var tipo in Model.TiposTreinamento)
            {
                foreach (var treinamento in tipo.Treinamentos)
                {
                    <th class="vertical-text treinamento" data-fill-color="@tipo.CorTreinamento.Replace("#", "")" data-b-a-c="666666" data-b-a-s="thin" data-a-text-rotation="90" data-a-h="center" data-a-v="middle" data-a-wrap="true" colspan="2" rowspan="2"><span>@treinamento.Descricao</span></th>
                }
            }

            @foreach (var treinamento in Model.Especifico)
            {
                <th class="vertical-text treinamento especifico" data-fill-color="cefbad" data-b-a-c="666666" data-b-a-s="thin" data-a-text-rotation="90" data-a-h="center" data-a-v="middle" data-a-wrap="true" colspan="3" rowspan="2"><span>@treinamento.Descricao</span></th>
            }
        </tr>
        <tr>
            <th data-a-v="middle" data-a-h="center" data-underline="true" data-fill-color="c1d72e" data-b-a-s="thin" data-b-a-c="666666" data-a-wrap="true" colspan="4" rowspan="1" class="left legenda">
                Pilar E&T
            </th>
        </tr>
        <tr>
            <th colspan="4" data-b-a-c="666666" data-b-a-s="thin" data-fill-color="bfbfbf">GAP GERAL DE CONHECIMENTO: @Model.GAPGeralConhecimento%</th>

            @foreach (var tipo in Model.TiposTreinamento)
            {
                if (tipo.Treinamentos.Count > 0)
                {
                    <th rowspan="2" data-b-a-c="666666" data-b-a-s="thin" colspan="@(tipo.Treinamentos.Count * 2)" data-fill-color="@tipo.CorTitulo.Replace("#", "")" data-f-color="ffffff" data-a-v="middle" data-a-h="center" class="qualidade header">Nível Desejado 2</th>
                }
            }

            @if (Model.Especifico.Count > 0)
            {
                <th rowspan="2" data-b-a-c="666666" data-b-a-s="thin" colspan="@(Model.Especifico.Count * 3)" data-fill-color="60bc23" data-f-color="ffffff" data-a-v="middle" data-a-h="center" class="especifico header"></th>
            }

        </tr>
        <tr>
            <th colspan="4" data-b-a-c="666666" data-b-a-s="thin" data-fill-color="bfbfbf">GAP GERAL DE PROFISSIONAIS A SEREM TREINADOS: @Model.GAPGeralProfissionais%</th>
        </tr>
        <tr>
            <th data-b-a-c="666666" data-b-a-s="thin" data-fill-color="bfbfbf" data-a-v="middle" data-a-h="center">CHAPA</th>
            <th data-b-a-c="666666" data-b-a-s="thin" class="nome" data-fill-color="bfbfbf" data-a-v="middle" data-a-h="center">NOME</th>
            <th data-b-a-c="666666" data-b-a-s="thin" class="funcao" data-fill-color="bfbfbf" data-a-v="middle" data-a-h="center">FUNÇÂO</th>
            <th data-b-a-c="666666" data-b-a-s="thin" class="funcao" data-fill-color="bfbfbf" data-a-v="middle" data-a-h="center">Intrutor<br/>Interno</th>

            @foreach (var tipo in Model.TiposTreinamento.SelectMany(t => t.Treinamentos))
            {
                <th data-b-a-c="666666" data-b-a-s="thin" data-a-wrap="true" data-fill-color="bfbfbf" data-a-v="middle" data-a-h="center">Nota</th>
                <th data-b-a-c="666666" data-b-a-s="thin" data-a-wrap="true" data-fill-color="bfbfbf" data-a-v="middle" data-a-h="center">Status <br /> Trein.</th>
            }

            @foreach (var treinamento in Model.Especifico)
            {
                <th data-b-a-c="666666" data-b-a-s="thin" data-a-wrap="true" data-fill-color="bfbfbf" data-a-v="middle" data-a-h="center">Nota</th>
                <th data-b-a-c="666666" data-b-a-s="thin" data-a-wrap="true" data-fill-color="bfbfbf" data-a-v="middle" data-a-h="center">Meta</th>
                <th data-b-a-c="666666" data-b-a-s="thin" data-a-wrap="true" data-fill-color="bfbfbf" data-a-v="middle" data-a-h="center">Status <br /> Trein.</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var colaborador in Model.Colaboradores)
        {
            <tr data-b-a-c="666666" data-b-a-s="thin">
                <td data-b-a-c="666666" data-b-a-s="thin" data-fill-color="ebebeb">@colaborador.Chapa</td>
                <td data-b-a-c="666666" data-b-a-s="thin" data-fill-color="ebebeb">@colaborador.Nome</td>
                <td data-b-a-c="666666" data-b-a-s="thin" data-fill-color="ebebeb">@colaborador.Funcao</td>
                <td data-b-a-c="666666" data-b-a-s="thin" data-fill-color="ebebeb">@(colaborador.IsFacilitador ? "★" : "")</td>

                @foreach (var nota in colaborador.Notas)
                {
                    if (nota == null)
                    {
                        <td data-b-a-c="666666" data-b-a-s="thin" data-a-h="center" data-fill-color="ebebeb"></td>
                    }
                    else
                    {
                        if (nota.Class == "red")
                        {
                            <td data-b-a-c="666666" data-b-a-s="thin" data-a-h="center" data-fill-color="8F1626">@nota.Value</td>
                        }
                        else if (nota.Class == "yellow")
                        {
                            <td data-b-a-c="666666" data-b-a-s="thin" data-a-h="center" data-fill-color="F8D44B">@nota.Value</td>
                        }
                        else
                        {
                            <td data-b-a-c="666666" data-b-a-s="thin" data-a-h="center" data-fill-color="ebebeb">@nota.Value</td>
                        }
                    }
                }
            </tr>
        }
    </tbody>
</table>