@model MatrizHabilidade.ViewModel.MaquinaViewModel

@{
    ViewBag.Title = "Matriz de Habilidade - " + Model.MaquinaDescricao;
}

@section buttons{

    <a href="/MatrizHabilidade/Planta?planta=@Model.PlantaId" title="Home">
        <img src="~/Content/images/icons/Icones-01.png" />
    </a>

    <a href="/MatrizHabilidade/Area?planta=@Model.PlantaId&area=@Model.AreaId" title="Area - @Model.AreaDescricao">
        <img src="~/Content/images/icons/Icones-03.png" />
    </a>

    <a href="/MatrizHabilidade/Tabela?planta=@Model.PlantaId&area=@Model.AreaId&maquina=@Model.MaquinaId" title="Tabela">
        <img src="~/Content/images/icons/Icones-02.png" />
    </a>

    @if (this.User.IsInRole(Roles.Adminstrador))
    {
        <a href="/MatrizHabilidade/PlanoAcao?planta=@Model.PlantaId&area=@Model.AreaId&maquinas=@Model.MaquinaId" title="Plano de Ação">
            <img class="icon-plano-acao" src="~/Content/images/icons/Icones Plano de ação-07.svg" />
        </a>
    }
}

<div class="title flex-row">
    <div class="flex-row">
        <h3>@Model.PlantaDescricao</h3>
        <h3 class="arrow">&#8250;</h3>
        <h3>@Model.AreaDescricao</h3>
        <h3 class="arrow">&#8250;</h3>
        <h3>@Model.MaquinaDescricao</h3>
    </div>
</div>

<div class="main">

    <div id="Year" class="flex-row">
        <form action="/MatrizHabilidade/Home/ChangeYear" method="get">

            <input type="hidden" name="returnurl" value="@Model.PathAndQuery" />

            <label>Fiscal Year</label>
            <div class="styled-select">
                <select onchange="this.form.submit()" name="ano">
                    @foreach (var ano in ViewBag.Anos)
                    {
                        if (TempData[Claims.CurrentYear.Value] == ano)
                        {
                            < option value = "@ano" > @ano.ToString().Substring(2) </ option >
                        }

                        @*<option value="@ano" @(selectedYear == ano ? "selected" : "")>@ano.ToString().Substring(2)</option>*@
                    }
                </select>
            </div>
        </form>
    </div>

    <div class="chart-container flex-row">
        <div class="flex-column">
            <div class="canvas flex-row">
                <div class="vertical-text">
                    <div>
                        <h4>Auditorias Realizadas</h4>
                    </div>
                </div>
                <div class="target"></div>
                <div id="GraficoAuditoria" class="chart"></div>
            </div>
            <div class="canvas flex-row">
                <div class="vertical-text">
                    <div>
                        <h4>GAP de Profissionais a Serem Treinados</h4>
                    </div>
                </div>
                <div class="target">
                    <div class="flex-row">
                        <div class="flex-column">
                            <div>
                                <img src="~/Content/images/Seta nova.png" />
                            </div>
                            <span>0%</span>
                        </div>
                        <div>
                            <span>Meta</span>
                        </div>
                    </div>
                </div>
                <div id="GraficoTreinamento" class="chart"></div>
            </div>
        </div>
    </div>

</div>

<script src="~/Content/highcharts/highcharts.js"></script>

<script>
    @Html.Raw(Model.Auditorias.ToString())

    @Html.Raw(Model.Treinamentos.ToString())
</script>